<launch>

<node pkg="rgcnn_models" type="voxel_filter_node" name="voxel_filter_node" output="screen" >
    <remap from="point_cloud_in" to="/camera/depth_registered/points" />
</node>


<node pkg="rgcnn_models" type="passthrough_filter_node" name="passthrough_filter_node" output="screen" >
    <remap from="point_cloud_in" to="/vf_out" />
</node>

<node pkg="rgcnn_models" type="remove_floor_node" name="remove_floor_node" output="screen"/>

<node pkg="rgcnn_models" type="compute_surface_normals_node" name="compute_surface_normals_node" output="screen"/>

<node pkg="rgcnn_models" name="resize_pointcloud" type="resize_pointcloud.py" output="screen"/>

<node pkg="rgcnn_models" name="segmentation" type="segmentation.py" output="screen"/>

<node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find rgcnn_models)/cfg/rviz.rviz"/>

<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" />

</launch>
